*{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
}

.navbar-list{
    text-decoration: none;
    display: flex;
    justify-content: center;
    list-style: none;
    /* border: 2px solid red; */
    padding: 10px;
}

.navbar-list li{
    padding: 1.5em;
}

.navbar-list li a{
   text-decoration: none;
   font-size: 25px;
   color: #000;
   
}

.navbar{
    display: flex;
    justify-content: space-evenly;
}

.logo{
    font-size: 2em;
    cursor: pointer;
}

.logo span{
    font-size: 2em;
    color: orange;
    transition: 0.5s;
}

.content{
    position: relative;
    /* border: 2px solid red; */
    padding: 200px;
}

.content h2{
    font-size: 5em;
}

.chat{
    border: none;
    /* background-color: #fff; */
    font-size: 15px;
    cursor: pointer;
    background: transparent;
    font-weight: 600;
}

.chat:hover{
    border: 2px soli grey;
}

.join{
    border: none;
    background-color: orange;
    color: white;
    padding: 10px;
    border-radius: 15px;
    font-size: 15px;
    margin: 10px 10px 10px 0;
    cursor: pointer;
    font-weight: 600;
}

.content p{
    color: #666;
    font-size: 1.2em;
}

.content h2 span{
    color: orange;

}

.dayNight{
    position: relative;
    left: 50%;
    height: 50px;
    width: 50px;
    background-color: #d1c6c6;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    cursor: pointer;
    transition: 0.5s;
}

.banner.night{
    background-color: #333;
}

.dayNight ion-icon:nth-child(2),.banner.night .dayNight ion-icon:nth-child(1){
    display: none;
}

.banner.night .dayNight ion-icon:nth-child(2){
    display: block;
}
.banner.night ,.banner.night li a,.banner.night header,.banner.night p,.banner.night button{
    color: #fff;
}





